<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userAgent</key>
	<string>iCurlHTTP/1.19 libcurl/8.17.0 OpenSSL/3.0.18 zlib/1.2.12 nghttp2/1.68.0</string>
	<key>userName</key>
	<string></string>
	<key>userPass</key>
	<string></string>
	<key>userAuthBasic</key>
	<true/>
	<key>userAuthDigest</key>
	<false/>
	<key>userAuthNTLM</key>
	<false/>
	<key>userAuthNegotiate</key>
	<false/>
	<key>userAuthAny</key>
	<false/>
	<key>userHeaders</key>
	<string></string>
	<key>userPost</key>
	<string>firstname=Post&amp;lastname=Robot</string>
	<key>userInsecure</key>
	<true/>
	<key>userTimeout</key>
	<integer>30</integer>
	<key>userSSLv3</key>
	<false/>
	<key>userHTTP2</key>
	<true/>
	<key>userCertDetail</key>
	<false/>
	<key>userIPv4</key>
	<true/>
	<key>userIPv6</key>
	<true/>
	<key>userResolve</key>
	<string></string>
	<key>userConnectTimeout</key>
	<integer>5</integer>
	<key>userHeadersOnly</key>
	<false/>
	<key>userFixedFont</key>
	<false/>
	<key>userProxyOverride</key>
	<false/>
	<key>userProxy</key>
	<string></string>
</dict>
</plist>
